<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

    <title>Title</title>
    <link href="../css/layui.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">

    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/layui.js"></script>
    <script src="../js/nav_json.js"></script>
</head>
<body>
<div class="container" style="padding-top: 20px" id="app">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">搜索</label>
                    <input v-model="keyword" type="text" class="form-control" id="exampleInputName2"
                           placeholder="请输入搜索内容...">
                </div>

                <!--<button type="button" class="btn btn-primary">搜索</button>-->
                <button type="button" class="btn btn-primary" @click="keyword=''">清空</button>
            </form>
        </div>
    </div>
    <div v-if="isShow" class="row">
        <div class="col-md-12">
            <h1>{{jsonData.title}}</h1>
            <div v-for="(feilei,key,index) in jsonData.sections">
                <h1>{{index+1}}、{{feilei.name}}</h1>
                <div v-for="childrenItem in feilei.children">
                    <strong>
                        <!--<a :href="['excel/'+jsonData.topics[childrenItem].href]">{{jsonData.topics[childrenItem].name}}</a>-->
                        <a @click="itemClick(jsonData.topics[childrenItem].href,$event)">{{jsonData.topics[childrenItem].name}}</a>
                        <!--<span v-on:click="itemClick($event)">{{jsonData.topics[childrenItem].name}}</span>-->
                    </strong>
                    <blockquote>{{jsonData.topics[childrenItem].summary}}</blockquote>

                </div>

            </div>
        </div>
    </div>
    <div v-if="!isShow" class="row" style="padding-top: 20px">
        <div class="col-md-12">
            <div v-if="tmpJsonData.length>0">
                <small>搜索结果如下：</small>

                <div v-for="(item,index) in tmpJsonData">
                    <strong>
                        <!--<a :href="['excel/'+item.href]">{{index+1}}、{{item.name}}</a>-->
                        <a @click="itemClick(item.href,$event)">{{index+1}}、{{item.name}}</a>

                    </strong>
                    <blockquote>{{item.summary}}</blockquote>
                </div>
            </div>
            <div v-else>
                <small class="text-danger">未搜索到相关结果...</small>
            </div>
        </div>
    </div>

</div>

<!--<div id="app2">-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
<!--<div class="modal-dialog" role="document" style="width: 800px">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<h4 class="modal-title" id="myModalLabel">函数详细说明</h4>-->
<!--</div>-->
<!--<div class="modal-body" id="contentBody">-->
<!--<iframe v-if="iframeSrc!=''" width="790px" height="600px" style="border: none"-->
<!--:src="['excel/'+iframeSrc]"></iframe>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
<!--<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</body>

<script>
    let app;

    // app2 = new Vue({
    //     el: "#app2",
    //     data: {
    //         funName: "",//函数名称
    //         iframeSrc: "",
    //     }
    // });

    (function () {
        $(function () {
            layui.use(["layer", "util"], function () {
                let util = layui.util;

                //执行
                util.fixbar({});

                let jsonData = $.parseJSON(nav);
                // $.getJSON('excel/navigation.json', function (jsonData) {
                app = new Vue({
                    el: "#app"
                    , data: {
                        jsonData: jsonData,
                        tmpJsonData: [],
                        keyword: "",
                        isShow: true
                    }
                    , methods: {
                        itemClick: function (href, e) {
                            let layer = layui.layer;
                            layer.open({
                                type: 2,// 定义为iFrame弹出层
                                title: e.target.text + '函数说明',// 窗口标题
                                anim: 0,// 动画。0：平滑放大 1：从上掉落 2：从最底部往上滑入 3：从左滑入 4：从左翻滚 5：渐显 6：抖动
                                shadeClose: true,// 是否点击遮罩关闭
                                resize: false,// 是否允许拉伸
                                area: ['800px', '700px'],
                                btn: ['确定'],
                                yes: function (index, layero) {
                                    layer.close(index);
                                },
                                content: 'excel/' + href
                            });
                        }
                    }
                    , watch: {
                        keyword: function (newKeyword, oldKeyword) {
                            if ($.trim(newKeyword) === "") {
                                this.isShow = true;
                            } else {
                                this.isShow = false;
                            }
                            const tmpObj = [];
                            $.each(jsonData.topics, function (key, obj) {
                                if (obj.name.toLowerCase().indexOf(newKeyword) != -1) {
                                    tmpObj.push(obj);
                                }
                            })
                            this.tmpJsonData = tmpObj;
                        }
                    }
                })
                // })
            });
        })
    })();
</script>
</html>